{% extends 'reviewus/base.html' %}

{% load humanize %}

{% block container %}

  {% if latest_question_list %}
  <div class="ui relaxed divided list">
    {% for question in latest_question_list %}
    <div class="item">
      <i class="large tasks middle aligned icon"></i>
      <div class="content">
        <a class="header" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        <div class="description">Published {{ question.pub_date | naturaltime }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>No polls are available.</p>
  {% endif %}

{% endblock %}
