{% extends 'reviewus/fullscreen.html' %}

{% load staticfiles %}

{% block site_title %}Review Us - Login{% endblock %}

{% block css %}
<style>
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  min-width: 320px;
  background: #FFFFFF;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  font-smoothing: antialiased;
}
body > .grid {
  height: 100%;
}

.grid .column {
  max-width: 360px;
}
.ui.header>.image:not(.icon), .ui.header>img {
  width: 2em;
  margin-bottom: 0.5em;
}

.background {
  background-image: url({% static 'images/background.jpg' %});
  background-size: 100%;
  background-position: 0 0%;
  height: 100%;
  animation: animatedBackground 40s linear;
  -ms-animation: animatedBackground 40s linear;
  -moz-animation: animatedBackground 40s linear;
  -webkit-animation: animatedBackground 40s linear;
  z-index: -1;
}

.content {
  width: 100%;
  max-width: 760px;
  height: 560px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -380px;
  margin-top: -280px;
  text-align: center;
  padding: 80px 20px;
  border-radius: 5px;
  box-shabow: rgba(0,0,0,.35) 0 5px 10px;
  z-index: 5;
}
.content .content-wrapper .title {
  color: rgba(255,255,255,.8);
  font-size: 7.5em; 
  font-family:'Righteous', monospace;
}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
  .content .content-wrapper .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 760px) {
  .content {
     margin: 0 auto;
     left: 2.5%;
     top: 2.5%;
     width: 95%;
     height: 95%;
     padding: 2rem 1rem;
  }
  .content .content-wrapper .title {
     font-size: 4rem;
     margin: 0;
  }
}
</style>
{% endblock %}

{% block nav %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}

<div class="background"></div>

<div class="content" style="color: white; background: url({% static 'images/background_index.jpg'%}) center center no-repeat; background-size: cover;">
  <div class="content-wrapper">
    <h1 class="title">REVIEW US</h1>
    <br>
    <p class="login">이미 회원이신가요?&nbsp;&nbsp;</p>
    <a class="ui large secondary button" href="{% url 'login' %}">
      로그인
    </a>
    <br>
    <h4 class="ui horizontal divider header" style="color: white;">
      또는
    </h4>
    <div class="ui vertical labeled icon buttons">
      <a class="ui fluid large facebook button" href="{% url 'social:begin' 'facebook' %}" style="margin-top: 1em;">
        <i class="facebook icon"></i>
        Facebook으로 가입하기
      </a>
      <a class="ui fluid large orange button" href="{% url 'accounts:signup' %}" style="margin-top: 1em;">
        <i class="mail icon"></i>
         이메일로 가입하기
      </a>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  function goingup(){
    var s = $(".background")[0].style;
    var p = parseFloat(s.backgroundPositionY || 0) + 0.1;
    s.backgroundPositionY = p + '%';
  }
  var t = setInterval(goingup, 50);
</script>
{% endblock %}
