{% extends 'reviewus/base.html' %}

{% load staticfiles %}
{% load humanize %}

{% block site_title %}리뷰어스{% endblock %}

{% block content %}

<!-- Page Contents -->
  <div class="ui inverted vertical masthead center aligned segment" style="margin-top: -1rem;">
    <div class="ui text container">
      <h1 class="ui inverted header">
        안녕하세요, <br /><span>{ {{ user.username }} }</span>님!
      </h1>
      <h2>“Carpe Diem. Seize the day, boys”<br>(Dead Poets Society, 1989)</h2>
      <br>
      <a href="{% url 'episode:list' %}" class="ui huge basic inverted button"><i class="film icon"></i>&nbsp; 최신 에피소드들</a>
      <a href="{% url 'program:list' %}" class="ui huge primary button">프로그램 목록 <i class="right arrow icon"></i></a>
    </div>

  </div>

  <div class="ui vertical segment">
    <div class="ui container">
      <h1 class="ui dividing header">최근 10개의 평가</h1>
      <table class="ui table">
      <thead>
        <tr>
          <th>사용자</th>
          <th>프로그램명</th>
          <th>에피소드</th>
          <th>한줄평</th>
          <th>평점</th>
					<th></th>
        </tr>
      </thead>
      <tbody>
      {% for r in user_reviews %}
      <!-- {{ r }} -->
        <tr>
          <td>{{ r.display_name }}</td>
          <td><a href="{% url 'program:view' r.program_id %}">{{ r.program_title }}</a></td>
          <td>{{ r.episode_title }}</td>
          <td>{{ r.comment }}</td>
          <td><div class="ui star rating" data-rating="{{ r.star }}" data-max-rating="5"></div></td>
					<td><div class="ui label basic compact">{{ r.creation_time | naturaltime }}</div></td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui container">
      <div class="ui three statistics" id="statistics">
        <div class="blue statistic">
          <div class="value">
            <i class="film icon"></i>&nbsp;<span id="st_episodes">0</span>
          </div>
          <div class="label">Episodes</div>
        </div>
        <div class="statistic">
          <div class="value">
            <span id="st_reviews">0</span>
          </div>
          <div class="label">Reviews <i class="thumbs up icon"></i></div>
        </div>
        <div class="yellow statistic">
          <div class="value">
            <i class="star icon"></i>&nbsp;<span id="st_stars">0</span>
          </div>
          <div class="label">Stars</div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
<script>
$(function(){
  $('.ui.rating').rating('disable');

  var t;

  function step(id, limit){
    var el = $("#"+id);
    var a = parseInt(el.text());
    var m = parseInt(limit || 0);
    if( a < m ) a += Math.max(1, limit / 90);
    if( a >= m ) a = m;
    el.text(parseInt(a));
    return a >= m;
  } 

  function grow(){
    var x = step("st_reviews", '{{ statistic.reviews }}');
    x &= step("st_stars", '{{ statistic.stars }}');
    x &= step("st_episodes", '{{ statistic.episodes }}');
    if(x) clearInterval(t);
  }

  function start(){
    console.log('a');
    t = setInterval(grow, 15);
  }

  $("#statistics")
    .visibility({
      onTopVisible: start
    })
  ;
});
</script>
{% endblock %}

{% block css %}

  <style type="text/css">

    .hidden.menu {
      display: none;
    }

    .masthead.segment {
      /* min-height: 700px; */
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 0em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .masthead .ui.text.container {
      padding: 3em 0;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }


  </style>
{% endblock %}
