{% extends 'registration/base.html' %}

{% load staticfiles %}

{% block site_title %}리뷰어스 - 로그인{% endblock %}

{% block content %}
{{ block.super }}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui yellow image header">
      <img src="{% static 'images/logo.png' %}" class="image">
    </h2>
    <form class="ui large form" method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <input type="text" name="{{ form.username.name }}" placeholder="이메일 주소" autofocus maxlength="254">
            <i class="mail icon"></i>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <input type="password" name="{{ form.password.name }}" placeholder="비밀번호" />
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="ui fluid large yellow submit button">로그인</div>
      </div>

      {% if form.errors %}
      <div class="ui error message" style="display: block">
        {{ form.errors }}
      </div>
      {% endif %}
    </form>

    <div class="ui vertical fluid labeled icon buttons">
      <a class="ui fluid large facebook button" href="{% url 'social:begin' 'facebook' %}" style="margin-top: 1em;">
        <i class="facebook icon"></i>
        Facebook으로 로그인
      </a>
      <a class="ui fluid large orange button" href="{% url 'accounts:signup' %}" style="margin-top: 1em;">
        <i class="mail icon"></i>
        지금 등록하기
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
$(function(){
  $('.form').form();
});
</script>
{% endblock %}
