{% extends 'registration/base.html' %}

{% load staticfiles %}

{% block site_title %}리뷰어스 - 회원가입{% endblock %}

{% block content %}
{{ block.super }}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui yellow image header">
      <img src="{% static 'images/logo.png' %}" class="image">
    </h2>
    <form class="ui large form" method="POST" action="{% url 'accounts:signup' %}">
      {% csrf_token %}
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <input type="email" name="{{ form.username.name }}" placeholder="이메일 주소" autofocus maxlength=254 />
            <i class="mail icon"></i>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            {{ form.password1 }}
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            {{ form.password2 }}
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="ui fluid large red submit button">가입하기</div>
      </div>

      {% if form.errors %}
      <div class="ui error message" style="display: block">
        {{ form.errors }}
      </div>
      {% endif %}
    </form>

    <div class="ui vertical fluid labeled icon buttons">
      <a class="ui fluid large facebook button" href="{% url 'social:begin' 'facebook' %}" style="margin-top: 1em;">
        <i class="facebook icon"></i>
        Facebook으로 로그인
      </a>
      <a class="ui fluid large yellow button" href="{% url 'login' %}" style="margin-top: 1em;">
        <i class="mail icon"></i>
        기존 아이디로 로그인
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
$(function(){
  $('.form').form();
});
</script>
{% endblock %}

