{% extends 'reviewus/base.html' %}

{% load staticfiles %}
{% load humanize %}

{% block site_title %}리뷰어스 - 에피소드 목록{% endblock %}

{% block content %}
<div class="ui container">

  <br><br>

  {% include 'program/nav.html' with program=program episode=episode %}

  <div class="ui basic segment">
    <p><i class="calendar icon"></i>&nbsp;{{ episode.airdate | date | naturalday | default:"미정" }}</p>
    <blockquote class="basic">
      {{ episode.content | default:"(내용 없음)" | truncatewords:50 }}
    </blockquote>
  </div>

  <a href="{% url 'episode:list' %}" class="ui left labeled icon button">
    <i class="list icon"></i> 목록으로
  </a>

  {% if request.user.is_staff %}
  <a href="{% url 'episode:edit' episode.id %}" class="ui left labeled icon yellow button">
    <i class="pencil icon"></i> 수정하기
  </a>

  <a href="{% url 'episode:delete' episode.id %}" class="ui right floated icon red button">
    <i class="trash icon"></i>
  </a>

  {% endif %}

  <div class="ui basic segment">
    <h3 class="ui dividing header" id="reviews">한줄평</h3>
    <div class="ui comments">
    {% for r in reviews %}
      <div class="comment">
        <a class="avatar">
          <img src="{% static 'images/user.png' %}">
        </a>
        <div class="content">
          <a class="author">{{ r.display_name }}</a>
          <div class="metadata">
            <div class="date">{{ r.creation_time | naturaltime }}</div>
            <div class="rating">
              <div class="ui rating stars" data-max-rating="5" data-rating="{{ r.stars | floatformat:0 }}"></div>
            </div>
          </div>
          <div class="text">{{ r.comment }}</div>
        </div>
      </div>
    {% endfor %}
    </div>
    <div style="text-align: center;">
    <div class="ui pagination menu">
        <a class="item" href="{% url 'episode:view' episode.id page.prev %}#reviews">이전</a>
        <a class="item" href="{% url 'episode:view' episode.id page.next %}#reviews">다음</a>
    </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}
<script>
$('.rating').rating('disable');
</script>
{% endblock %}
