@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/css?family=Righteous);

html, body {
  height: 100%;
}

* {
  font-family: 'Nanum Gothic', 'Malgun Gothic', monospace, sans-serif;
}

blockquote.basic {
  margin-left: 5px;
  border-left: 5px solid #666;
  padding: 1em 2em;
}

