{% extends 'reviewus/base.html' %}

{% load staticfiles %}

{% block site_title %}ReviewUs - 프로그램 목록{% endblock %}

{% block content %}
<div class="ui container">
  <br>
  {% if request.user.is_staff %}
  <a href="{% url 'program:create' %}" class="ui labeled icon button">
    <i class="plus icon"></i>
    Create
  </a>
  {% endif %}
  <div class="ui divider"></div>

  <div class="ui four stackable link cards">
    {% for program in programs %}
    <div class="ui card">
      <div class="content">
        <a href="{% url 'program:view' program.id %}" class="header">{{ program.title }}</a>
        <div class="meta">{{ program.content | truncatewords:4 }}</div>
        <div class="meta">
          <span class="date">
            {{ program.start_date | date:"Y/m/d" }} ~
						{% if program.end_date %}
							{{ program.end_date | date:"Y/m/d" }}
						{% else %}
							방영중
						{% endif %}
          </span>
        </div>
      </div>
      <div class="content">
        <a href="{% url 'program:view' program.id %}#episodes">
          <i class="film icon"></i>
          {{ program.num_episodes }}개의 에피소드
        </a>
      </div>
      <div class="extra content"> 
        {%if program.avg_star %}
        <div class="ui star rating" data-rating="{{ program.avg_star | floatformat:"0" }}" data-max-rating="5"></div>
        &nbsp; ({{ program.avg_star | floatformat:"2" }})
        {% else %}
        평가 없음
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="ui divider"></div>

  <div style="padding-bottom: 2em; margin-bottom: 2em;">
    <a href="{% url 'program:list' page.prev %}" class="ui left floated labeled icon button">
      <i class="left arrow icon"></i>
      Prev
    </a>
    <a href="{% url 'program:list' page.next %}" class="ui right floated labeled icon button">
      <i class="right arrow icon"></i>
      Next
    </a>
  </div>
</div>
{% endblock %}


{% block script %}
<script>
$('.cards .image').dimmer({
    on: 'hover'
});
$('.rating').rating({
  
});
</script>
{% endblock %}
