{% extends 'reviewus/base.html' %}

{% load staticfiles %}

{% block site_title %}ReviewUs - 프로그램{% endblock %}

{% block content %}
<div class="ui container">
  <br>
  <h1 class="dividing header">{{ program.title }}</h1>
  <blockquote class="basic">
    {{ program.content | linebreaks }}
  </blockquote>

  <table class="ui very basic celled table" style="margin: 0 auto;">
  <tr>
    <td>방송사</td>
    <td><a href="#/{{ program.broadcast_id }}">{{ program.broadcast_name }}</a></td>
  </tr>
  <tr>
    <td>장르</td>
    <td><a href="#/{{ program.genre_id }}">{{ program.genre_name }}</a></td>
  </tr>
  <tr><td>시작일</td><td>{{ program.start_date | date:"Y-m-d" }}</td></tr>
  <tr><td>종료일</td><td>{{ program.end_date | date:"Y-m-d" }}</td></tr>
  <tr>
    <td>평균 평점</td>
    <td>
      <div class="ui star rating" data-rating="{{ program.avg_star | floatformat:0 }}" data-max-rating="5" style="margin: 0"></div>
    </td>
  </tr>
  </table>

<!--
  {{ program }}
-->

  <h2>Episodes</h2>
  <div class="ui feed">
  {% if request.user.is_staff %}
    <div class="event">
      <div class="label"></div>
      <div class="content">
        <div class="extra text">
          <button id="show_modal_episode" class="ui left labeled icon basic blue button">
            <i class="plus icon"></i> 에피소드 추가
          </button>
        </div>
      </div>
    </div>
  {% endif %}
  {% for episode in program.episodes %}
    <div class="event">
      <div class="label">
        <i class="film icon"></i>
      </div>
      <div class="content">
        <div class="summary">
          <a href="#/episode/{{ episode.it }}">{{ episode.title }}</a>
        </div>
        <div class="extra text">
          {{ episode.content | truncatewords:10 }}
        </div>
        <div class="meta">
          <a href="#ratings">총 {{ episode.total_reviews }}개의 평가</a>
          ({{ episode.avg_star | floatformat:2 }}&nbsp;
          <div class="ui star rating" data-rating="{{ episode.avg_star | floatformat:0 }}" data-max-rating="5" style="margin: 0"></div>)
        </div>
        <div class="meta">
          <div class="date">{{ episode.airdate | date:"Y-m-d" }}</div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>

  <div class="ui divider"></div>

  <a href="{% url 'program:list' %}" class="ui left labeled icon button">
    <i class="list icon"></i> 목록으로
  </a>

  {% if request.user.is_staff %}
  <a href="{% url 'program:edit' program.id %}" class="ui left labeled icon yellow button">
    <i class="pencil icon"></i> 수정하기
  </a>

  <a href="{% url 'program:delete' program.id %}" class="ui right floated icon red button">
    <i class="trash icon"></i>
  </a>

  {% include 'episode/form.html' with program=program %}
  {% endif %}

</div>
{% endblock %}

{% block script %}
<script>
$('.rating').rating('disable');
</script>
{% endblock %}

